---
http_interactions:
- request:
    method: get
    uri: http://www.boardgamegeek.com/xmlapi2/collection?username=phillc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\n<items
        totalitems=\"36\" termsofuse=\"http://boardgamegeek.com/xmlapi/termsofuse\">\t\n\t\t<item
        objecttype=\"thing\" objectid=\"68448\" subtype=\"boardgame\" collid=\"20344025\">\n\t<name
        sortindex=\"1\">7 Wonders</name>\n\t\t<yearpublished>2010</yearpublished>\t\t\t<image>http://cf.geekdo-images.com/images/pic860217.jpg</image>\n\t\t<thumbnail>http://cf.geekdo-images.com/images/pic860217_t.jpg</thumbnail>\n\t\t\t<status
        own=\"1\" prevowned=\"0\" fortrade=\"0\" want=\"0\" wanttoplay=\"0\" wanttobuy=\"0\"
        wishlist=\"0\"  preordered=\"0\" lastmodified=\"2013-09-11 12:55:38\" />\n\t<numplays>0</numplays>\t\t\t\t\t\t\t</item>\n\t\t<item
        objecttype=\"thing\" objectid=\"124742\" subtype=\"boardgame\" collid=\"20344016\">\n\t<name
        sortindex=\"1\">Android: Netrunner</name>\n\t\t<yearpublished>2012</yearpublished>\t\t\t<image>http://cf.geekdo-images.com/images/pic1324609.jpg</image>\n\t\t<thumbnail>http://cf.geekdo-images.com/images/pic1324609_t.jpg</thumbnail>\n\t\t\t<status
        own=\"1\" prevowned=\"0\" fortrade=\"0\" want=\"0\" wanttoplay=\"0\" wanttobuy=\"0\"
     [...]
